<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661690981940-n35qsi6jij5fovmnr11qfomvj8i5u8a8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661690981940-n35qsi6jij5fovmnr11qfomvj8i5u8a8</string>
	<key>API_KEY</key>
	<string>AIzaSyAw-eDlUKLRxm76-c2a0d8ZLwGz9OLm4Yo</string>
	<key>GCM_SENDER_ID</key>
	<string>661690981940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nsg.taxi</string>
	<key>PROJECT_ID</key>
	<string>taxi-57ca7</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-57ca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661690981940:ios:c4d71178e06ec3b2a37461</string>
	<key>DATABASE_URL</key>
	<string>https://taxi-57ca7-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>